    
[class^=btn]
    +makeFlex(row, center, center)
    +size(150px, 52px)
    background: var(--primary-color)
    border-radius: 4px
    color: white
    font-weight: bolder
    margin-top: 10px
    text-decoration: none
    transition: all ease-in .3s
    
    &:hover
        background: var(--dark-color)
        color: var(--primary-color)
        text-decoration: none
        
.btn-white
    background: #f1f1f1
    color: var(--primary-color)

    &:hover
        background: var(--dark-color)
        color: var(--primary-color)

.btn-accent
    color: white
    background: var(--primary-color)

    &:hover
        background: var(--dark-color)
        color: var(--primary-color)
    