@import 'assets/css/1-base/_base'

.message-section
  margin-top: -20px
  height: calc(100vh - 70px)

.message-list,
.message-view
  &__container
    height: 100%

  &__header
    +makeFlex(row, center, center)
    height: 50px

.message-view
  &__header
    background: white

  &__container
    height: calc(100% - 50px)

  &__messages
    height: calc(100% - 50px)
    overflow-y: auto
    padding: 20px 10px 10px 10px
    +makeFlex(column, flex-start, flex-start)

    &::-webkit-scrollbar
      background-color: transparent
      width: 7px

      &-track
        background-color: transparent

      &-thumb
        background-color: transparentize($primary-color, .4)
        transition: all ease .3s

        &:hover
          background-color: $primary-color

.thread
  +makeFlex(row, flex-start, center)
  height: 80px
  padding: 0 20px
  transition: all ease .3s

  &:hover
    text-decoration: none
    background: lighten($primary-color, 49%)

  &__user-picture
    +size(70px, 70px)
    background: red
    border-radius: 50%
    margin-right: 10px

  &__picture-container
    padding: 20px 0

  &__content
    border-bottom: 1px solid #ccc
    +size(100%, 100%)
    text-align: left
    padding: 5px 0

  &__header
    +makeFlex(row, space-between, center)
    color: #333

  &__title
    font-weight: bolder

  &__body
    color: #999

.message
  background: #eee
  width: fit-content
  border-radius: 10px
  border-top-left-radius: 0
  padding: 5px 20px
  margin: 5px 0
  min-width: 80%
  text-align: left

  p
    margin: 0 0 0 0

  &.me
    background: lighten($primary-color, 49%)
    align-self: flex-end
    border-radius: 10px
    border-top-right-radius: 0

  &__footer
    text-align: right

@media (min-width: $desktop)
  .message-section
    +makeFlex(row, flex-start, center)

  .message-list
    &__container
      width: 30%
      border-right: 1px solid #ccc

    &__header
      border-bottom: 1px solid #ccc

  .message-view
    width: 70%
    height: 100%

    &__header
      height:
      border-bottom: 1px solid #ccc

    &__messages
      padding: 20px 20px 10px 20px