@font-face {
  font-family: 'Ovo';
  src: url('./../fonts/Ovo-Regular.ttf');
}

@font-face {
  font-family: 'Kanit';
  src: url('./../fonts/Kanit-ExtraLight.ttf');
}

.App {
  text-align: center;
  color: #444;
}

[class*=title] {
  font-family: 'Ovo', sans-serif;
}
