@font-face {
  font-family: 'Ovo';
  src: url('./../fonts/Ovo-Regular.ttf');
}

@font-face {
  font-family: 'Kanit';
  src: url('./../fonts/Kanit-ExtraLight.ttf');
}

.App {
  text-align: center;
  color: #444;
}

.app-routes {
  padding-top: 90px;
  min-height: 500px;
}

[class*=title] {
  font-family: 'Ovo', sans-serif;
}
